/aclocal.m4
/autom4te.cache/
/config.*
/configure
/depcomp
/erfa.pc
/install-sh
/libtool
/ltmain.sh
/m4/
/missing
/stamp-h?
/test-driver
.deps/
.dirstamp
.libs/
*.l[ao]
*.o
*~
Makefile
Makefile.in
/build-aux
src/t_erfa_c
erfa-*.tar.gz
