name: CI

on:
  push:
    branches:
    - master
    tags:
    - '*'
  pull_request:

jobs:
  tests:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: linux (with gcc)
            os: ubuntu-latest

          - name: MacOS (with clang)
            os: macos-latest

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Install dependencies
      if: contains(matrix.os, 'macos')
      run: brew install autoconf automake libtool
    - name: bootstrap
      run: ./bootstrap.sh
    - name: configure
      run: ./configure --disable-shared
    - name: make
      run: make
    - name: make check
      run: make check
    - name: make distcheck
      run: make distcheck

  tests-meson:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: linux (with gcc and meson)
            os: ubuntu-latest

          - name: MacOS (with clang and meson)
            os: macos-latest

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Install dependencies
      run: |
        if [ "$RUNNER_OS" = Linux ]; then
            sudo apt-get -y install meson ninja-build
        else
            brew install meson
        fi

    - name: configure
      run: meson setup builddir --fatal-meson-warnings
    - name: build
      run: ninja -C builddir
    - name: check
      run: meson test -C builddir
    - name: distcheck
      run: meson dist -C builddir

  Windows-meson:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: install dependencies
      run: pip install --pre meson ninja
    - uses: ilammy/msvc-dev-cmd@v1
    - name: configure
      run: meson setup builddir --fatal-meson-warnings -Ddefault_library=static
    - name: build
      run: ninja -C builddir
    - name: check
      run: meson test -C builddir
    - name: distcheck
      run: meson dist -C builddir
